<header>
    <a href="/">Que significa la cancion</a>
    <ul>
        <li style="font-size: 1.4em;"><a href="/categoria/rock">Rock</a></li>
        <li style="font-size: 1.4em;"><a href="/categoria/romanticas">Romanticas</a></li>
        <li style="font-size: 1.4em;"><a href="/categoria/clasicas">En ingles</a></li>
    </ul>
</header>