*{
    margin: 0;
    padding: 0;

}
header{
    padding: 20px;
    background: linear-gradient(to right, #3C61CE 0%, #1C6EA4 50%, #1E0AC5 100%);
    color: aliceblue;
    font-family: bebas; 
}
button{
    width: 300px;
    padding: 20px;
    color: white;
    font-size: 1.4em;
    background-color: green;
}
.form{
    width: 90%;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(to right, #3C61CE 0%, #1C6EA4 50%, #1E0AC5 100%);
}
label{
    font-size: 1.4em;
}
input{
    border-radius: 20px;
    padding: 10px;
    width: 70%;
}
.form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: blanchedalmond;
}
.creditos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.creditos a{
    color: white;
    text-decoration: none;
}
.otras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.otras a{
    text-decoration: none;
    color: white;
}
.otras li{
    list-style: none;
    color: white;
}